<nb-reveal-card>
  <!-- FRONT CARD -->
  <nb-card-front>
    <nb-card *ngIf="name && data" status="info">
      <nb-card-header>
        {{name}}
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let element of data">
          {{element.name}}
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-front>
  <!--  -->
  <!-- BACK CARD -->
  <nb-card-back>
    <nb-card *ngIf="name && data" status="primary">
      <nb-card-header>
        {{name}}
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let element of data">
          {{element.name}}
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-card-back>
  <!--  -->
</nb-reveal-card>