<div class="lnavbar">
  <div class="lnavbar__logo">
    <span (click)="navigateTo('home')">
      <img src="assets/images/brand2.webp" alt="">
    </span>
  </div>
  <div class="lnavbar__header">
    <span *ngFor="let header of headers" (click)="navigateTo(header.url)">{{ header.name }}</span>
    <nb-user size="medium"
             name="{{ accountInfo.userid }}"
             title="{{ accountInfo.title }}"
             color="#def"
             *ngIf="token"
             [nbContextMenu]="userMenu"
             nbContextMenuTrigger="hover">
    </nb-user>
    <span *ngIf="!token" (click)="openModal(loginModal)">Đăng nhập</span>
  </div>
</div>

<ng-template #loginModal let-modal>
  <app-login (eventState)="eventHandler($event)"></app-login>
</ng-template>

<ng-template #resetPasswordModal let-modal>
  <app-resetpw (eventState)="eventHandler($event)"></app-resetpw>
</ng-template>
